<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Gemunu+Libre:wght@200&family=Open+Sans:wght@300&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Gemunu+Libre:wght@200&family=Open+Sans:wght@300&display=swap"
    rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Mongoose Playlist</title>
</head>

<body>

  <nav>
    <% if (user) { %>
      <a href="/" <%- title==='Home' ? 'class="active"' : '' %>>HOME</a> |
      <a href="/playlists" <%- title==='Playlist' ? 'class="active"' : '' %>>PLAYLIST(S)</a> |
      <a href="/playlists/new" <%- title==='Add Playlist' ? 'class="active"' : '' %>>ADD PLAYLIST</a> |
      <a href="/logout">LOG OUT</a>
      <% } else { %>
        <a href="/auth/google" class="login">START<img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
  </nav>
  <main>