<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mongoose Playlist</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  
  <nav>
    <nav>
        <a href="/views/index.ejs" <%- title === 'Playlist' ? 'class="active"' : '' %>>PLAYLIST(S)</a>
        <% if (user) { %>
          <a href="/views/index.ejs"    <%- title === 'Add Song' ? 'class="active"' : '' %>>
              ADD A SONG</a>
          <a href="/logout">LOG OUT</a>
        <% } else { %>
          <a href="/auth/google" class="login">LOG IN <img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
      </nav>
  </nav>
  <main>