<%- include('./partials/header') %>

<h1><u><%- title %></u></h1>
<h3> 
<div class="fade-in-1">
    Create,<br> 
</div>
<div class="fade-in-2">
    Collaborate,<br>
</div>
<div class="fade-in-3">
    Change,<br>
</div>
<div class="fade-in-4">
    And Share.
</div>
</h3>
<h4>A Spotify based playlist coLaboration made simple by copying and pasting the embedded song link into a playlist of your creation.</h4>
<img src="/images/Spotify.png">

<%- include('./partials/footer') %>