/* * {
  box-sizing: border-box;
  font-family: Helvetica; 
   font-family: 'Gemunu Libre', sans-serif;
  font-family: 'Gemunu Libre', sans-serif;
  font-family: 'Open Sans', sans-serif; 
  font-family: 'Dosis', sans-serif;
  font-family: 'Gemunu Libre', sans-serif;
  font-family: 'Open Sans', sans-serif; 
 } */

/* .round {
  border-radius: 50%;
} */

.fade-in-1 { animation: fadeIn 3s; }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-in-2 { animation: fadeIn 5s; }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.fade-in-3 { animation: fadeIn 6s; }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.fade-in-4 { animation: fadeIn 7s; }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

h1 {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 7%, rgba(40,202,90,0.4948354341736695) 31%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Dosis', sans-serif;
  font-size: 10vmin;
}

body {
  box-sizing: border-box;
  color: black;
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 8vmin 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  font-family: 'Dosis', sans-serif;
  font-family: 'Gemunu Libre', sans-serif;
  font-family: 'Open Sans', sans-serif;
  color: black;
  grid-area: nav;
  background-color: #e0e0e0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > img {
  width: 8vmin;
  object-fit: contain;
  margin-right: auto;
}

body > main {
  font-family: 'Dosis', sans-serif;
  font-family: 'Gemunu Libre', sans-serif;
  font-family: 'Open Sans', sans-serif;
  color: black;
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(76,76,77);
  background: linear-gradient(0deg, rgba(76,76,77,1) 0%, rgba(255,255,255,0.727328431372549) 82%);
  padding: 20px;
  overflow-y: scroll;
}

/* .video-size {
  height: 15vmin;
  width: 100%;
} */

body > main h1:first-child {
  margin-bottom: 50px;
}

main > img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: .8;
}

nav > a {
  color: black;
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: black;
}

nav > a.active {
  cursor: default;
}

#new-form {
  /* display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem)); */
  display: flex;
  flex-direction: column;
  justify-items:center;
  align-items: center;
  margin-top: .5fr;
}

.center { 
  text-align: center;
}

#new-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
}

table {
  font-size: 50px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px none #424748;
}

table td {
  padding: 30px;
  text-align: center;
}

#list td:nth-child(2), #list td:nth-child(3){
  min-width: 100px;
}

#list a {
  color: white;
  background-color: black;
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
}

.style-button {
  margin: 1vmin auto 1vmin auto;
  color: white;
  background-color: black;
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
  font-family: 'Gemunu Libre', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

.style-button:hover {
  background-color: rgb(40 202 90);
}

#list a:hover {
  background-color: rgb(40 202 90);
}

#show-page {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;

}

#show-page div:nth-child(even) {
  font-weight: bold;
}

/* #add-review-form,
#add-performer-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

#add-review-form input[type="submit"],
#add-performer-form input[type="submit"]  {
  width: 10rem;
  grid-column: 2 / 3;
} */

hr {
  color: #424748
}

#badge-container {
  display: flex;
  flex-wrap: wrap;
  /* padding: 1rem; */
  width: 80%;
  border: 2px solid #B8C0C2;
  border-radius: .5rem;
  margin: .5rem 0 2rem;
}

.badge {
  background-color: #B8C0C2;
  padding: .5rem;
  margin: .5rem;
  border-radius: .3rem;
  font-size: .8rem;
  text-align: center;
}

ul {
  margin: 0 0 1rem;
  padding: 0;
  list-style: none;
}
	
li {
  font-weight: bold;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-image {
  border-radius: 50%;
  height: 40px;
  display: block;

} 