<%- include('../partials/header') %>

    <form action="/playlists/<%= playlist._id %>?_method=PUT" method="POST">
    <input type="text" name="name" value= "<%= playlist.name %>">
    <button type="submit" value="Update Playlist">Update</button>
    </form>

    <%- include('../partials/footer') %>
