<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% playlists.forEach(function(p) { %>
      <tr>
        <td><%= p.name %></td>
        <td><a href="/playlists/<%= p._id %>">SHOW</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>