<%- include('../partials/header') %>

<form id="new-form" action="/playlists" method="POST">
  <!-- <label>New Vibe:</label> -->
  <input type="text" name="name">
  </select>
  <input type="submit" value="Add Playlist">
</form>
<img src="/images/tape.png">
<%- include('../partials/footer') %>
