<%- include('../partials/header') %>

<form id="new-form" action="/playlists" method="POST">
  <label>Name:</label>
  <input type="text" name="name">
  </select>
  <input type="submit" value="Add Playlist">
</form>

<%- include('../partials/footer') %>
