<%- include('../partials/header') %>

  <form id="new-form" action="/playlists" method="POST">
    <input type="text" name="name">
    </select>
    <div class="center">
      <button class="style-button" type="submit" value="Add Playlist">Add Playlist</button>
    </div>
  </form>

  <img src="/images/tape.png">

  <%- include('../partials/footer') %>