.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
  }
  
  .login img {
    height: 30px;
  }
  
  body > nav {
    grid-area: nav;
    background-color: #B8C0C2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px 0 30px;
  }

  nav > img {
    width: 34px;
    object-fit: contain;
    margin-right: auto;
  }